page-home {
    .ball{
        margin-bottom: 5px;

        .top-badges{
            font-size: 35px;
            .close{
                position: absolute;
                top: 11px;
                right: 13px;
                font-size: inherit;
            }

            .fouls{
                position: absolute;
                top: 11px;
                left: 13px;
                font-size: inherit;
            }
        }

        &.eliminated.notShow{
            display: none;
        }
        
        .center-balls{
            text-align: center;


            img{
                margin: auto;
                max-width: 200px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
