<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <button ion-button round block (click)="onAddBall()">Add Ball</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button round block (click)="onRemoveLastBall()" [disabled]="data.ballsPlaying.length == 2" color="danger">Remove Ball</button>
            </ion-col>
        </ion-row>
        <ion-row  style="margin-bottom:10px;">
            <ion-col col-6>
                <button ion-button round block (click)="onReset()">Reset Game</button>
            </ion-col>
            <ion-col col-6>
                <button ion-button round block (click)="toggleHideEliminated();" color="light"><ion-icon [name]=" data.hideEliminated ? 'eye-off' : 'eye'"></ion-icon></button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ball" col-6 *ngFor="let ball of data.ballsPlaying" [class.eliminated]="isEliminated(ball)"
                [class.notShow]="isEliminated(ball) && data.hideEliminated">
                <div>
                    <ion-card-header class="top-badges">
                        <ion-badge class="close" color="danger" (click)="onRemoveBall(ball)">X</ion-badge>
                        <ion-badge [color]="isEliminated(ball) ? 'danger' : 'primary'" class="fouls">{{ball.fouls}}</ion-badge>
                    </ion-card-header>
                    <ion-card-content>
                        <div class="center-balls">
                            <img [src]="'assets/balls/' + ball.number + '.svg'" />
                        </div>
                        <ion-row>
                            <ion-col col-6>
                                <button ion-button round full (click)="onAddFoul(ball)" [disabled]="isEliminated(ball)"><ion-icon name="add"></ion-icon></button>
                            </ion-col>
                            <ion-col col-6>
                                <button ion-button round full (click)="onRemoveFoul(ball)" [disabled]="ball.fouls == 0" color="danger"><ion-icon name="remove"></ion-icon></button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>